.main-container {
    display: flex;
}
@media only screen and (max-width : 480px){
    .main-container {
        flex-direction: column;
    }
}
.container-item {
    background-color: #fff;
    width: 100%;
    padding: 16px;
}
.container-item h2 {
    text-align: left;
}
.container-item p {
    text-align: justify;
}
.container-result {
    text-align: center;
    background-color: aliceblue;
    padding-top: 8px;
    padding-bottom: 24px;
}
.container-form div{
    padding: 8px;
}
.calculate {
    background-color: #187aa1;
    color: #fff;
    border-radius: 4px;
    height: 32px;
}
.reset {
    border-radius: 4px;
    height: 32px;
}
.container-form {
    background-color: aliceblue;
}
.result-diseases {
    background-color: aliceblue;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 24px;
}
.disease {
    text-align: center;
}
.result-diseases p{
    text-align: center;
}
.download {
    text-align: center;
}
.download p{
    text-align: center;
}
.input {
    width: 100%;
}
a:link {
    color: #fff;
    text-decoration: none;
  }